<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>My Portfolio</title>
  <link rel="icon" type="image/x-icon" href="{% static "images/logo.png" %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="{% static "images/logo.png" %}" alt="Global">
    <p>My Portfolio</p>
  </a>
  <p class="device-notification--message">Global has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <img src="{% static "images/logo.png" %}" alt="Global">
            <p>My Portfolio</p>
          </a>
          <button class="header--cta cta">Hire Me</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
                {% comment %} <h1>MCA</h1>
                <h2>
                MASTER OF COMPUTER APPLICATION,2023-2024,<br>
                KTU UNIVERSITY, Kvm Colleage <br>
                </h2>
                 <h1>BCA</h1>
                  <h2>
                    BACHELOR OF COMPUTER APPLICATION,2020-2023,<br>
                    KERALA UNIVERSITY, Mimat Colleage, 7.0 CGPA.
                    <br>
                    </h2>
                    <h1>HIGHER SECONDARY EDUCATION</h1>
                    <h2>
                    HIGHER SECONDARY EDUCATION,2019-2020,<br>
                            Kerala State Board, HSS Thiruvambady,70%.<br>
                            </h2>
                            <h1>HIGH SCHOOL EDUCATION</h1>
                            <h2>
                                HIGH SCHOOL EDUCATION ,2018-2019,<br>
                                Kerala State Board, HS Thathampally,84%. <br>
                            </h2> {% endcomment %}
                  <script src="//my.visme.co/visme-embed.js"></script><div class="visme_d" data-title="EDUCATION" data-url="vdnqrmj3-education" data-w="2560" data-full-h="false" data-h="1440" data-domain="my"></div><p style="width:142px !important;border-radius:3px !important;padding:3px !important;font-size:12px !important;font-family:Arial, sans-serif !important;color:#314152 !important;white-space:nowrap !important"><a href="https://www.visme.co/?vc=Made-With-Visme&amp;utm_medium=Embed" target="_blank" rel="noreferrer" style="font-weight:600 !important;text-decoration:none !important;font-size:12px !important;font-family:Arial, sans-serif !important;color:#314152 !important;white-space:nowrap !important"></a></p>
    
                        
              </div>
            </div>
          </li>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-2.2.4.min.js" %}"><\/script>')</script>
<script src="{% static "js/functions-min.js" %}"></script>
</body>
</html>